<html lang="en">

<body>

  <div class="container col-8">
    <table class="table table-bordered">
      tr
        th ID
        th |
        th Tên
        th |
        th Role
        th |
        th CreatedAt
    each a in users
      tr 
        th #{a.id}
        th ||
        th #{a.username}
        th ||
        th #{a.role } 
        th ||
        th #{a.createdAt}
        th
          form(action = `/${a.id}`, method = "POST")
            button(type = "submit" ) xóa





