<html lang="en">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<body>

  <div class="container col-8">
    <table class="table table-bordered">
      <tr class="table-dark">
        <th scope="col" > ID
        <th scope="col"> Tên
        <th scope="col"> Role
        <th scope="col"> CreatedAt
        <th scope="col">
each a in users
      tr 
        th #{a.id}
        th #{a.username}
        th #{a.role } 
        th #{a.createdAt}
        th
          form(action = `/${a.id}`, method = "POST")
          button(type = "submit" ) xóa





